/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ------------------------------------------- */
.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-72 {
  margin-bottom: 72px;
}
.mr-24 {
  margin-right: 24px;
}

.text-center {
  text-align: center;
}

.jc-center {
  justify-content: center;
}

.text-white {
  color: white !important;
}

.wrap {
  width: 1200px;
  margin: 0 auto;
}

.bdb-1-black {
  border-bottom: 1px solid #000;
}

.bdb-1-white {
  border-bottom: 1px solid #fff;
}

.bdl-1-white {
  border-left: 1px solid #fff;
}

.bdl-1-black {
  border-left: 1px solid #000;
}

.name {
  font-size: 80px;
  line-height: 94px;
  font-family: Roboto, Regular;
  border-bottom: 2px solid #000;
  padding-bottom: 17px;
}

.photo img {
  display: block;
  width: 324px;
  height: 324px;
}

.subtitle {
  font-family: Noto Sans, Regular;
  font-size: 32px;
  line-height: 43px;
  display: flex;
  align-items: center;
  padding-bottom: 8px;
}

.subtitle span {
  font-family: Roboto, medium;
  color: #a00404;
  margin-left: 16px;
  font-size: 24px;
  line-height: 28px;
}

.profile {
}

.profile-container {
  font-family: Noto Sans, Regular;
  font-size: 24px;
  line-height: 36px;
}

.education {
}

.education-container {
  font-family: Noto Sans, Regular;
  font-size: 24px;
  line-height: 36px;
}

.skills {
  padding-top: 24px;
  background: #415165 0% 0% padding-box;
  color: #ffffff;
  padding-bottom: 36px;
  margin-bottom: 72px;
}

.skills .subtitle {
  font-family: 蘋方-繁, medium;
}

.skills-container {
  font-family: Roboto, Light;
  padding-left: 24px;
  width: 260px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 36px;
}

.work-subtitle {
  font-size: 24px;
  line-height: 36px;
}

.hexschool-icon {
  display: block;
  width: 90px;
  height: 90px;
}

.work-detail {
  width: 642px;
  font-size: 20px;
  line-height: 30px;
}

.work-list {
  font-size: 24px;
  line-height: 36px;
}

.work-container {
  font-family: Noto Sans, Regular;
  position: relative;
  left: 24px;
  padding-left: 24px;
}

.work-footer {
  font-size: 20px;
  line-height: 30px;
}

.footer {
  color: white;
  text-align: center;
  background: #415165 0% 0% no-repeat padding-box;
  padding-top: 24px;
}

.footer-container {
  font-family: Roboto, Light;
  font-size: 24px;
  line-height: 36px;
  padding-top: 32px;
  padding-bottom: 36px;
}

.icons {
  display: flex;
  justify-content: center;
}

.df {
  display: flex;
}

.jc-c {
  justify-content: center;
}
